# Игнорировать папку с зависимостями
node_modules/

# Игнорировать папку с сгенерированными файлами
dist/

# Игнорировать файлы логов
*.log

# Игнорировать скомпилированные файлы TypeScript
*.js


# Игнорировать файлы окружения
.env

# Игнорировать файлы с тестами
*.spec.ts
